:root {
  --imperial-red: #e63946ff;
  --honeydew: #f1faeeff;
  --powder-blue: #a8dadcff;
  --celadon-blue: #457b9dff;
  --prussian-blue: #1d3557ff;
  --fadeValue: 1;
}

body {
    font: 1px "Century Gothic", Futura, sans-serif;
    background-color: var(--prussian-blue);
    color: var(--honeydew)
  }

.container {
  font-size: 40em;
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: auto auto auto auto;
  max-width: 8em;
  max-height: 12em;
  padding: 0.3em;
  border: 0.06em #f1faee solid;
  margin: 0 auto
}

.buttonPrimary {
  text-align: center;
  padding: 0.3em;
  background-color: var(--celadon-blue);
  /* border: 3px var(--powder-blue) solid; */
  cursor:pointer;
}

.buttonSecondary {
  text-align: center;
  padding: 0.3em;
  background-color:var(--imperial-red);
  /* border: 3px var(--powder-blue) solid; */
  cursor:pointer;
}

.buttonClear {
  grid-column: 4 / span 1;
  text-align: center;
  padding: 0.3em;
  background-color:var(--imperial-red);
  /* border: 3px var(--powder-blue) solid; */
  cursor:pointer;
}

.buttonBackspace {
  grid-column: 3 / span 1;
  text-align: center;
  padding: 0.3em 0;
  background-color:var(--imperial-red);
  /* border: 3px var(--powder-blue) solid; */
  cursor:pointer;
}

@import url(//db.onlinewebfonts.com/c/99d83ce639db8eabf503017356550109?family=DigitalW00);
@font-face {font-family: "Digital"; src: url("//db.onlinewebfonts.com/t/99d83ce639db8eabf503017356550109.eot"); src: url("//db.onlinewebfonts.com/t/99d83ce639db8eabf503017356550109.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/99d83ce639db8eabf503017356550109.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/99d83ce639db8eabf503017356550109.woff") format("woff"), url("//db.onlinewebfonts.com/t/99d83ce639db8eabf503017356550109.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/99d83ce639db8eabf503017356550109.svg#DigitalW00") format("svg"); }

.lcdDisplay {
  grid-column: 1 / span 4;
  background-color: var(--powder-blue);
  font-family: Digital, monospace;
  color: rgba(0, 0, 0, 1);
  text-align: right;
  line-height: .5;
  height: 1.3em;
  padding: 0.3em 0.3em 0 0;
}

.solarPanel {
  grid-column: 1 / span 2;
  background-color:brown;
}

.powerOff {
  opacity:0;
  transition: opacity 5s;
}

.powerOn {
  opacity: 1;
  transition: opacity 1s;
}

.history {
  border: 3px #f1faee solid; 
  max-width: 10em;
  padding: 30px;
  margin: 0 auto;
  word-break: break-all;
}